html, body {
    margin: 0;
    height: 100%;
}
body {
    background-color: #170202;
    color: white;
}
h1, .the-event h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
p {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}
.topnav {
    width: 100%;
    background-color: #30171759;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;
    align-items: center;
}
.topnav img {
    float: left;
    margin: auto;
}
.topnav h1 {
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 18pt;
}
span.topnav {
    vertical-align: top;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
    color: #f1f1f1;
    background-color: blue;
    height: 100%;
    margin: auto;
}
.topnav a:hover {
    color: red;
}
span.right {
    float: right;
    background-color: red;
}
.title-page {
    width: 100%;
    height: 100%;
    padding: 0;
    display: inline;
}
.title-page h1 {
    display: inline-block;
    /* margin: 0; */
    font-size: 42pt;
    background-color: blue;
}
.title-page h2 {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0;
}
.center-container {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: purple;
}
.center-container > .center {
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: yellow;
}
.center img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
/* THE EVENT SECTION */
.the-event {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    left: 50%;
    top: 50%;
}
.the-event > .event-location, .what-hackathon {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: 0 auto;
}
.the-event h1, .the-event h2 {
    font-size: 24pt;
    margin: 0.2em auto;
}
.the-event p {
    margin: 0.2em auto;
}
/* LINE SECTION */
.line {
    width: 100px;
    height: 6px;
    background-color: white;
    margin: 50px auto;
}
/* INNOVATION SECTION */
.innovation, .who, .gallery, .register, .sponsors, .about {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}
.innovation h1, .innovation p, .who h1, .who li, .who p, .gallery h1 {
    width: 95%;
    margin: 0 auto;
}
.sponsors h1, .sponsors h2, .about h1, .about h2 {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.innovation h1 {
    font-size: 36pt;
}
.innovation p {
    margin: 0.5em auto 0 auto;
}
.register {
    display: block;
    background-color: #ffffffbf;
    border-radius: 30px;
    min-height: 200px;
}
.register h1 {
    color: black;
    width: 95%;
    display: inline-block;
    background-color: red;
}
.flex-container, .sponsor-logos {
    display: block;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    height: 300px;
    background-color: blue;
    margin: 50px auto;
    display: flex;
    flex-wrap: nowrap;

}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

/* FOOOOOOOOOOOOOOTER */
footer {
    background-color: white;
    width: 100%;
    height: 250px;
}
footer > h1 {
    color: black;
    font-size: 12pt;
    text-align: center;
}