html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
body {
    background-color: #170202;
    color: white;
}
h1, .the-event h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
p, .who li, .sponsors h2, .about h2 {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}
.topnav {
    width: 100%;
    background-color: #30171759;
    overflow: hidden;
    position: fixed;
    /* top: 0; */
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.topnav img {
    float: left;
    /* margin: auto; */
}
.topnav h1 {
    display: inline-block;
    text-align: left;
    /* padding: 0; */
    margin: 0;
    font-size: 18pt;
}
.topnav a {
    float: left;
    /* display: block; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
    color: #f1f1f1;
}
.topnav a:hover {
    color: red;
}
.right {
    float: right;
}
.title-page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto 0;
    float: left;
}
.title-page h1 {
    display: inline-block;
    margin: 0;
    font-size: 42pt;
    background-color: blue;
}
.title-page h2 {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0;
}
section {
    display: table;
    position: inherit;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    padding: 60px 0;
    margin:  0;
    /* padding-left: 120px; */
    box-sizing: border-box;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1000px;
    background-color: red;
}
.center img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    background-color: yellow;
}
/* THE EVENT SECTION */
.the-event {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    left: 50%;
    top: 50%;
}
.the-event > .event-location, .what-hackathon {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: 0 auto;
}
.the-event h1, .the-event h2, .who h1, .register h1, .sponsors h1, .about h1 {
    font-size: 24pt;
    margin: 0.2em auto;
}
.innovation h1, .innovation p, .who h1, .who li, .who p, .gallery h1 {
    width: 95%;
    margin: 0 auto;
}
.gallery h1 {
    font-size: 24pt;
    margin-bottom: 0;
}
.the-event p {
    margin: 0.2em auto;
}
/* LINE SECTION */
.line {
    width: 100px;
    height: 6px;
    background-color: #fff;
    margin: 50px auto;
}
/* INNOVATION SECTION */
.innovation, .who, .gallery, .register, .sponsors, .about {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}
.sponsors h1, .sponsors h2, .about h1, .about h2 {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.innovation h1 {
    font-size: 36pt;
}
.innovation p {
    margin: 0.5em auto 0 auto;
}
.register {
    display: table;
    background-color: #ffffffbf;
    border-radius: 30px;
    min-height: 200px;
}
.register h1 {
    color: black;
    width: 95%;
}
.register p {
    color: #000;
    width: 95%;
    margin: 10px auto;
}
.register a {
    color: #FFF;
    background-color: #871616;
    text-decoration: none;
    border-radius: 15px;
    padding: 0 15px;
}
.register a:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
}
.register a:visited {
    color: #871616;
    background-color: none;
    text-decoration: none;
    border-width: 3px;
    border-color: #871616;
    border-radius: 15px;
    padding: 0 15px;
}
.flex-container, .sponsor-logos {
    display: block;
    width: 100vw;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    height: 300px;
    background-color: blue;
    margin: 50px auto;
    display: flex;
    flex-wrap: nowrap;

}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

/* FOOOOOOOOOOOOOOTER */
footer {
    background-color: white;
    width: 100%;
    height: 250px;
}
footer > h1 {
    color: black;
    font-size: 12pt;
    text-align: center;
}