.head {
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

details {
    user-select: none;
    width: 75%;
    background-color: #ffffff18;
    margin: 0 auto;
}

ul {
    width: 87%;
    margin: 0 auto;
}

details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
}

details[open] summary span.icon {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

summary {
    display: flex;
    cursor: pointer;
}

summary::-webkit-details-marker,
summary::-moz-details-marker {
    display: none;
}

summary > h1 {
    width: 95%;
    margin: .75em auto;
}

details > p {
    width: 97%;
    margin: 0 auto;
    padding: 0;
}