html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* min-width: 700px; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: #170202;
    color: #fff;
}
h1, .the-event h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo Black", "Archivo Narrow", "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}
p, .who li, .sponsors h2, .about h2, li {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 1080px) {
    .right a {display: none;}
    .right a.icon {
      float: right;
      display: block;
    }
    .title-page h1 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        margin: 0;
        font-size: 42pt;
    }
    .title-page h2 {
        font-family: "Archivo Narrow", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        margin: 0;
    }
}
@media screen and (max-width: 1080px) {
    .title-page h1, .title-page h2 {
        display: none;
    }
    .topnav.responsive {
        position: fixed;
    }
    .topnav.responsive a.icon {
        position: relative;
        right: 0;
        /* top: 0; */
    }
    .topnav.responsive a {
        float: none;
        position: relative;
        display: block;
        text-align: right;
    }
    .right.responsive-content {
        right: 0;
        position: absolute; 
    }
}

.topnav {
    width: 100vw;
    background-color: #30171759;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.topnav img {
    float: left;
}
.topnav h1 {
    font-family: 'Archivo Black', sans-serif;
    display: inline-block;
    text-align: left;
    margin: 0;
    font-size: 18pt;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
    color: #f1f1f1;
}
.topnav a:hover {
    color: #BF0603;
}
.right {
    float: right;
}
.title-page {
    height: 100%;
    padding: 0;
    margin: auto 0;
}
.page1 {
    width: 100%;
    height: 100vh;
    background-image: url(media/Wallpaper/shapes.svg);
    background-size: auto 25vh;
    background-position: center 87%;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
}
.page5 {
    width: 100%;
    height: 100vh;
    background-image: url(media/Wallpaper/skyline.svg), linear-gradient(#87161600, #871616FF);
    background-size: auto 35vh;
    background-position: center 97%, center bottom;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
}
#the-event > img {
    float: left;
}
.title-page h1 {
    font-family: 'Archivo Black', sans-serif;
    display: inline-block;
    margin: 0;
    font-size: 42pt;
}
.title-page h2 {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0;
}
section {
    display: table;
    position: inherit;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* padding: 60px 20px; */
    margin:  0;
    box-sizing: border-box;
}
.middle {
    height: 100vh;
    display: flex;
    align-items: center;
}
.middle2 {
    flex-direction: column;
    margin: auto;
    height: 100vh;
    align-content: center;
}
.titleblock {
    display: flex;
}
.center {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-page > .center {
    padding-top: 0;
}
.center img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
/* THE EVENT SECTION */
#the-event > .middle {
    max-width: 50vw;
    display: flex;
}
#sponsors > .middle {
    flex-direction: column;
}
.the-event {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: start;
    left: 50%;
    top: 50%;
}
.the-event > .event-location, .what-hackathon {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: 0 auto;
}
.the-event h1, .the-event h2, .who h1, .register h1, .sponsors h1, .about h1 {
    font-size: 24pt;
    margin: 0.2em auto;
}
.innovation h1, .innovation p, .who h1, .who li, .who p, .gallery h1 {
    width: 95%;
    margin: 0 auto;
}
.gallery h1 {
    font-size: 24pt;
    margin-bottom: 0;
}
.the-event p {
    margin: 0.2em auto;
}
/* LINE SECTION */
.line {
    width: 100px;
    height: 6px;
    background-color: #fff;
    margin: 50px auto;
}
/* INNOVATION SECTION */
.innovation, .who, .gallery, .register, .sponsors, .about {
    /* display: block; */
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}
.sponsors h1, .sponsors h2, .about h1, .about h2 {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.middle2 a, .middle a {
    color: #FFF;
}
.highlight {
    background-color: #bf0603;
    padding: 0 4px;
}
.metro {
    color: #ff3131;
}
.innovation h1 {
    font-size: 36pt;
}
.innovation p {
    margin: 0.5em auto 0 auto;
}
.register {
    background-color: #ffffffbf;
    border-radius: 30px;
    min-height: 200px;
    /* max-width: 1000px; */
}
.register h1 {
    color: black;
    width: 95%;
}
.register p {
    color: #000;
    width: 100%;
    margin: 10px auto;
    display: inline-block;
    text-align: center;
}
.register-button {
    color: #FFF;
    background-color: #BF0603;
    text-decoration: none;
    border: 4px solid #BF0603;
    border-radius: 15px;
    padding: 0 15px;
    font-size: 14pt;
    font-family: "Archivo Narrow";
}
.top-register-button {
    color: #FFF;
    background-color: #BF0603;
    text-decoration: none;
    border: 4px solid #BF0603;
    border-radius: 15px;
    padding: 0 50px;
    font-size: 20pt;
    font-family: "Archivo Narrow";
}
.top-register-button:hover {
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5); 
}
.register-button:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
}
.register-button:visited {
    color: #BF0603;
    background-color: #FFF;
    text-decoration: none;
    border: 4px solid #BF0603;
    border-radius: 15px;
    padding: 0 15px;
}

/* BORROWED SLIDE */
:root {
    --no-of-slides: 5;
    --slides-in-view: 2.5;
    --slide-width: 400px;
    --slide-height: 200px;
    --iteration-time: 40s;
    --slide-margin: -2px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
    }
}
.carousel__wrapper {
    display: block;

    width: calc(var(--slides-in-view) * var(--slide-width));
    overflow: hidden;
    /* border: 1px dashed gray; */
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
}
.carousel__wrapper::before,
.carousel__wrapper::after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
}
.carousel__wrapper::before {
    background: linear-gradient(to left, rgba(255,255,255,0), #170202);
    left: 0;
}
.carousel__wrapper::after {
    background: linear-gradient(to right, rgba(255,255,255,0), #170202);
    right: 0;
}
.carousel {
    padding: 0;
    display: block;
    width: calc(var(--no-of-slides)*var(--slide-width));
    height: var(--slide-height);
    margin: 0;
    padding: 0;
}
.carousel__slide {
    animation: scroll var(--iteration-time) linear infinite;
    display: inline-block;
    box-sizing: border-box;

    width: var(--slide-width);
    height: var(--slide-height);
    margin: 0 var(--slide-margin);
    padding: 0;
    text-align: center;
    font-size: 30px;
}
.carousel__content {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    max-width: 98%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 30px;
    white-space: normal;
    overflow-wrap: break-word;

}
/* .carousel__image {
    background-size: cover;
    background-repeat: no-repeat;

    height: 50%;
    margin: 15px 20px;
} */
.carousel__wrapper:hover .carousel__slide{
    animation-play-state: paused;
}

.sponsor-logos p {
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    max-height: 300px;
    overflow-x: hidden;
    /* border: 1px dashed gray; */
    margin: 0 auto;
}
.about-row {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 10px;
    padding: 0;
}
.about-profile {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 200px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 30px;
}
.about-profile img {
    display: inline-block;
}
.about-profile-text {
    display: inline-block;
    /* flex-direction: column;
    margin: 0;
    align-content: flex-start; */
}
.about-profile p {
    font-size: 12pt;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 99;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    overflow: visible;
}

/* FOOOOOOOOOOOOOOTER */
footer {
    background-color: white;
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
    font-family: "Archivo Narrow";
}
footer > h1 {
    color: black;
    font-size: 12pt;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Archivo Narrow";
}
footer > div {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}